@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<h3>Ticket2Go and it's aim</h3>
<p>The aim of this project is about making travelling in Bulgaria far easier.
   With Ticket2Go every user will be presented with many options from many bus companies and the state railways.
   Ticket2Go is the perfect way to organise your travells by booking in advance and paying online.</p>
