@{
    ViewData["Title"] = "About Us";
}
<div class="container">
    <h1 class="text-center">@ViewData["Title"]</h1><br>
    <h2>Ticket2Go and its aim</h2><br>
    <p>Ticket2GO is a startup project which is the first of it's kind in Bulgaira.</p>
    <p>As the creator of Ticket2GO my idea is to make travelling in Bulgaria more easier for everybody - by making things connected!</p>
    <p>Many people will see my project as just another website where you can buy tickets online. However this is not the case.</p>
    <p>The thing that makes Ticket2GO unique is the variarity that is going to offer to its users. It will cover many travelling sectors of the country.</p>
    <p>
        And this is not everything! The most special feature - the combined ticket is something that will make people travell
        to many places using only ONE ticket!
    </p><br><br>

    <h3 class="text-center">We travel with you...Everywhere you go!</h3>

</div>
